.content {
  display: flex;
  flex-direction: column;
  padding: 2rem 14rem;
}

.content__locationInfo {
  padding-bottom: 2rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.336);
  max-width: 680px;
}

.content__locationInfo h2 {
  font-size: 40px;
  color: rgb(0, 32, 92);
  padding-bottom: 0px;
}

.content__locationInfo p {
  font-size: 16px;
  padding-top: 10px;
}

.content__address {
  font-size: 14px;
  line-height: 1.5;
}

.content__locationPrograms {
  padding-top: 2rem;
  max-width: 680px;
}

.content__locationPrograms h3 {
  padding-bottom: 0.75rem;
  color: rgb(0, 32, 92);
}

.content__locationPrograms ul {
  list-style: none;
  padding-top: 0.5rem;
}

.content__locationPrograms li {
  padding-bottom: 1.25rem;
}

.content__locationPrograms a {
  color: black;
}

.content__locationContact {
  font-size: 15px;
}

.content__locationContact p {
  padding-bottom: 6px;
}

.content__locationContact i {
  padding-right: 6px;
  color: rgb(0, 32, 92);
}

.content__locationContact a {
  color: #ca8c00;
}

.content__locationContact a:hover {
  text-decoration: none;
}
