.listViewItem {
  width: 60%;
  border-top: solid 1px lightslategray;
  border-bottom: solid 1px lightslategray;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.itemTitle {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.itemTitle h3 {
  font-size: 14px;
  color: lightslategray;
  font-weight: 300;
  padding-top: 0.2rem;
}

.itemContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.5rem;
}

.itemDescription {
  border-right: solid 1px lightslategray;
  width: 80%;
}

.itemContact {
  padding: 0.5rem;
  font-size: 12px;
  color: #00205c;
}

.itemPartners {
}

.itemPartners:hover {
  cursor: pointer;
}

.itemPartners ul {
  list-style: none;
  border-top: solid 1px lightslategray;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.itemPartners li {
  padding-bottom: 5px;
  width: fit-content;
  margin: 1px;
}

.itemPartners a {
  color: black;
  text-decoration: none;
}

.itemPartners a:hover {
  text-decoration: underline;
}

.itemPartners p {
  color: rgb(45, 92, 136);
}

.NavLink {
  color: #00205c;
  text-decoration: none;
}
