.mapContainer {
  height: 100%;
  width: 100%;
}

.marker {
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  border: solid 3px rgba(0, 32, 92, 0.7);
}

.mapbox_popup_content {
  width: 250px;
  border-radius: 15px;
}

.mapbox_popup_content button {
  position: absolute;
  right: 11px;
  font-size: 16px;
  top: 8px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapbox_popup_content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}
