.popup__card {
  padding: 5px;
}

.popup__heading {
  font-size: 14px;
  padding-bottom: 5px;
}

.popup__location {
  font-size: 20px;
  padding-bottom: 10px;
  width: max-content;
}

.popup__location:hover {
  cursor: pointer;
  text-decoration: underline;
}

.popup__streetAddress {
  font-size: 14px;
}

.popup__cityZip {
  font-size: 14px;
}
