.listViewItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.results {
  width: 60%;
  padding-bottom: 10px;
  font-size: 14px;
  color: #666;
}
